In [113]:
import pandas as pd
import numpy as np

In [114]:
#Load dataset
df = pd.read_csv("C:/Users/Dell/Desktop/Mtech FE/Seminar/TouchAlytics_data/features/featMat.csv")
#View top 5 rows
df.head(5)

,Phone_ID,Doc_ID,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,Action
0,37,4,0.341,0.256,27.416,-27.113,12.3980,-32.960,16.1160,0.35736,4,-2.770400,1,0.41784,4.1784,2719.20,0.001,10.3520,0.22222,0
1,37,4,0.913,0.086,21.771,-30.037,9.8778,-33.867,12.4950,0.26504,4,-2.830000,1,0.00000,156.7900,502.37,0.086,9.8778,0.26504,2
2,37,4,0.733,0.111,10.886,-34.169,26.9120,-34.673,16.0340,0.99118,2,-0.031436,1,32.12200,143.8500,263.58,0.111,26.9120,0.99118,2
3,37,4,0.448,0.094,19.151,-34.572,12.7000,-36.790,6.8213,0.59647,4,-2.810500,1,17.36000,76.6380,230.62,0.094,12.7000,0.23333,1
4,37,4,0.519,0.056,27.718,-32.758,14.6150,-37.294,13.8660,0.67819,4,-2.808300,1,74.82100,275.5700,993.21,0.056,18.9520,0.67819,0

In [115]:
#(No of rows, no of cols)
df.shape

(21158, 20)

In [116]:
#Statistics of the data set
df.describe()

,Phone_ID,Doc_ID,F3,F4,F5,F6,F7,F8,F9,F10,F11,F12,F13,F14,F15,F16,F17,F18,F19,Action
count,21158.000000,21158.000000,2.111900e+04,21158.000000,21158.000000,21158.000000,21158.000000,21158.000000,21158.000000,2.115800e+04,21158.000000,21158.000000,21158.000000,21158.000000,21158.000000,2.115800e+04,21158.000000,21158.000000,2.115800e+04,21158.000000
mean,20.442811,3.299603,6.206239e+00,0.783021,18.625291,-36.793817,19.080223,-31.758999,14.086355,7.737424e-01,2.867615,0.400744,2.719728,16.746254,69.774746,inf,0.783054,19.082328,7.734018e-01,1.886001
std,11.992660,1.723554,3.055244e+04,1.092829,9.599073,9.063655,10.282811,10.379782,7.960148,1.829728e-01,0.798927,1.692438,1.127165,26.210998,104.098943,NaN,1.092669,10.283038,1.834834e-01,0.420840
min,1.000000,1.000000,-1.030000e+06,0.003000,0.000000,-55.270000,-0.806350,-55.379000,0.000000,6.120000e-17,1.000000,-3.137600,1.000000,0.000000,0.000000,0.000000e+00,0.001000,-0.806350,6.120000e-17,0.000000
25%,10.000000,2.000000,7.790000e-01,0.137000,10.901000,-43.496000,10.465000,-38.700000,7.841800,6.705000e-01,2.000000,-0.141265,2.000000,0.000000,8.069100,1.808200e+01,0.137000,10.465000,6.702400e-01,2.000000
50%,21.000000,3.000000,1.586000e+00,0.404000,19.856000,-38.100000,20.763000,-33.467000,13.105500,7.991900e-01,3.000000,1.267900,3.000000,6.305700,22.346000,5.555550e+01,0.404000,20.763000,7.990600e-01,2.000000
75%,32.000000,5.000000,3.724000e+00,0.981000,25.198000,-31.246000,26.610000,-25.836000,19.095750,9.214575e-01,3.000000,1.551300,3.000000,20.982000,107.227500,2.370250e+02,0.981000,26.683500,9.213525e-01,2.000000
max,41.000000,7.000000,1.030000e+06,22.315000,57.995000,-0.654080,57.995000,3.124600,53.861000,1.000000e+00,4.000000,3.141600,5.000000,739.430000,4037.900000,inf,22.315000,57.995000,1.000000e+00,2.000000

In [117]:
df.dtypes

Phone_ID      int64
Doc_ID        int64
F3          float64
F4          float64
F5          float64
F6          float64
F7          float64
F8          float64
F9          float64
F10         float64
F11           int64
F12         float64
F13           int64
F14         float64
F15         float64
F16         float64
F17         float64
F18         float64
F19         float64
Action        int64
dtype: object

In [118]:
#Finding if null values are present
df.isnull().sum()

Phone_ID     0
Doc_ID       0
F3          39
F4           0
F5           0
F6           0
F7           0
F8           0
F9           0
F10          0
F11          0
F12          0
F13          0
F14          0
F15          0
F16          0
F17          0
F18          0
F19          0
Action       0
dtype: int64

In [119]:
# replacing the missing values with the mean of that column:
df.fillna(df.mean(), inplace = True)

In [120]:
df['Phone_ID'] = df.F3.astype('int64')
df['Doc_ID'] = df.F3.astype('int64')
df['F3'] = df.F3.astype('int64')
df['F4'] = df.F3.astype('int64')
df['F5'] = df.F3.astype('int64')
df['F6'] = df.F3.astype('int64')
df['F7'] = df.F3.astype('int64')
df['F8'] = df.F3.astype('int64')
df['F9'] = df.F3.astype('int64')
df['F10'] = df.F3.astype('int64')
df['F11'] = df.F3.astype('int64')
df['F12'] = df.F3.astype('int64')
df['F13'] = df.F3.astype('int64')
df['F14'] = df.F3.astype('int64')
df['F15'] = df.F3.astype('int64')
df['F16'] = df.F3.astype('int64')
df['F17'] = df.F3.astype('int64')
df['F18'] = df.F3.astype('int64')
df['F19'] = df.F3.astype('int64')

df.dtypes

Phone_ID    int64
Doc_ID      int64
F3          int64
F4          int64
F5          int64
F6          int64
F7          int64
F8          int64
F9          int64
F10         int64
F11         int64
F12         int64
F13         int64
F14         int64
F15         int64
F16         int64
F17         int64
F18         int64
F19         int64
Action      int64
dtype: object

In [121]:
#Check if any null values are present
df.isnull().sum()

Phone_ID    0
Doc_ID      0
F3          0
F4          0
F5          0
F6          0
F7          0
F8          0
F9          0
F10         0
F11         0
F12         0
F13         0
F14         0
F15         0
F16         0
F17         0
F18         0
F19         0
Action      0
dtype: int64

In [122]:
X = df.drop(['Action'], axis = 1)
y = df['Action']

In [123]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 18,test_size=0.3) # 70% training and 30% test

In [107]:

#X_test =  X_test.fillna(0).astype(int)
#X_test.fillna(X_test.mean(), inplace = True)
#X_train.fillna(X_train.mean(),inplace = True)
#y_test.fillna(y_test.mean(), inplace = True)
#y_train.fillna(y_train.mean(), inplace= True)

In [128]:
#Feature selection
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

C:\Users\Dell\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Dell\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.

C:\Users\Dell\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  import sys

In [135]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier
#Create KNN Classifier
# Taking k = 3
knn = KNeighborsClassifier(n_neighbors=3,metric = 'minkowski')
#Train the model
knn.fit(X_train, y_train)
#Predict the response for test dataset
y_pred = knn.predict(X_test)
#print(y_pred)

In [136]:
#calculate acccuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9240705734089477

In [137]:
#k = 5
knn = KNeighborsClassifier(n_neighbors=5, metric = 'euclidean')
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9240705734089477